.klasa1 {
	border-top: dashed;
	font-family: Arial;
	font-size: 14pt;
	color: red;
}

.klasa2 {
	border: solid green;
	font: Courier, 10pt;
}

.klasa3 {
	background-color: yellow;
	color: blue;
	font: Comic Sans MS;
}